$darkSienna: 	#32021F;
$darkPuce: #4B2E39;
$dimGray: #6c596e;
$slateGray: #6f7d8c;
$weldonBlue: #77A0A9;

h1 {
  color: $darkSienna;
}

h2 {
  color: $darkPuce;
}

h3 {
  color: $dimGray;
}

body {
  background-color: $slateGray;
}

div.container {
  background-color: $weldonBlue;
}

#user-results {
  display: none;
}
